<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.emperinter.AndroidStudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".jump.BActivity"
            android:label="B"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="info.emperinter.test.BActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".jump.AActivity"
            android:label="A"
            android:launchMode="singleTop"
            android:taskAffinity="A"/>
        <activity android:name=".PopupWindowActivity" />
        <activity android:name=".CustomDialogActivity" />
        <activity android:name=".ProgressActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DialogActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".WebViewActivity" />
        <activity
            android:name=".RecyclerView.MixRecyclerViewActivity"
            android:label="@string/title_activity_mix_recycler_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecyclerView.PuRecyclerViewActivity"
            android:label="@string/title_activity_pu_recycler_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RecyclerView.GridRecyclerViewActivity" />
        <activity android:name=".RecyclerView.MixRecyclerViewActivity$HorRecyclerViewActivity" />
        <activity android:name=".RecyclerView.LinearRecyclerViewActivity" />
        <activity android:name=".RecyclerView.RecyclerViewActivity" />
        <activity android:name=".GridView.GridViewActivity" />
        <activity android:name=".ListView.ListViewActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".CheckBoxAcitvity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".TextViewActivity" />
        <activity android:name=".UIActivity" />
        <activity android:name=".LifeCycleActivity" />
    </application>

</manifest>